/* mobile: >= 414px */
@media screen and (max-width: 767px) {
    #services .col {
        padding-bottom: 1.5rem;
        margin: 0rem 1rem;
    }
}

/* tablet:  >= 768px */
@media screen and (min-width: 768px) {
    /* layout */
    .container {
        width: 100%;
        margin: 0 auto;
        padding-top: 3rem;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
    }

    /* services */
    #services .card {
        display: flex;
        flex-direction: column;
    }
    #services .col {
        width: calc(100% / 3 - 1.5rem);        
    }
    #services .col.large {
        min-width: calc(66% - 1.1rem);    
    }

    /* partners */
    #partners .container .col {
        display: flex;
        align-items: center;
        text-align: left;
    }
    #partners .container .col .first {
        width: 30%;
    }
    #partners .container .col .last {
        width: 70%;
    }

    /* with-us */
    #with-us .col {
        width: calc(100% / 3);
    }

    /* about-us */
    #about-us {
        display: flex;
    }
}
/* desktop: >= 992px  */
@media screen and (min-width: 992px) {
    /* layout */
    .container {
        width: 80%;
    }

    /* header */
    header .menu {
        display: block;
    }    
    .hamburger {
        display: none;
    }
    
    /* with-us */
    #with-us .col {
        width: calc(100% / 4);
    }
}   

/* large-desktop >= 1200px */
/* @media screen and (min-width: 1200px) {

} */