/* reset */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

/* utility */
:root {
    /* colors */
    --header: #0084FD;
    --default: #FFFFFF;
    --planning: #9792E4;
    --footer: #333333;
    --title: #2295FD;
    --button: #46A5FE;
    --object: #0084FD;
    --black: #000000;
    --lightgrey: #EDEDED;
    --gold: #FDC15F;
}
.button {
    color: var(--default);
    background-color: var(--button);
}

/* common */
/* layout */
body {
    font-family: 'PT Sans', sans-serif;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
}

/* header */
header {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: var(--header);
}
header .hamburger i {
    color: var(--default);
}
header .menu {
    display: none;
}

.menu ul {
    display: flex;
    list-style-type: none;
    gap: 10px
}
.menu ul li a {
    color: var(--default);
}

/* main */
/* services */
#center {
    text-align: center;
}
.card {
    padding: 1rem 1rem 1rem 1rem;
    background-color: #B5DDFF;
    border-radius: 5%;
    height: 100%;
}
.col.large .card {
    padding-bottom: 0;
}
.card i {
    color: var(--object);
    font-size: 3rem;
    padding-bottom: 1rem;
}
.card a i {
    color: var(--default);
    font-size: 1rem;
}
.card h4 {
    color: var(--title);
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-size: 1.5rem;
}
/* .card img {
    width: 50%;
} */

/* planning */
#planning {
    width: 100%;
    margin-top: 3rem;
    padding-bottom: 1rem;    
    background-color: var(--planning);
}
#planning .col {
    margin: 0 auto;
    width: 90%;
}
#planning .card {
    background-color: var(--planning);
    color: var(--default);
}
#planning h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
#planning h4 {
    color: var(--black);
}
#planning .card.white {
    background-color: white;
    margin-bottom: 3rem;
    text-align: center;
}
.card.white p {
    color: var(--black);
    margin-bottom: 2rem;
}
#planning i {
    font-size: 1.5rem;
    color: var(--black);
    background-color: var(--planning);
    padding: 1.5rem;
    border-radius:50%;
}

/* partners */
#partners {
    width: 100%;
    background-color: var(--default);
}
#partners h4 {
    color: var(--planning);
    font-size: 2rem;
    margin: 1rem 0;
}
#partners p {
    margin-bottom: 1rem;
}
#partners .container {
    width: 90%;
    text-align: center;
}
#partners .container .col {
    background-color: var(--planning);
    border-radius: 5%;
    margin-bottom: 1.5rem;
    padding: 1rem 1rem 2rem 1rem;
    color: var(--default);
}
#partners img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
/* with-us */
#with-us {
    width: 100%;
    background-color: var(--planning);
    text-align: center;
}
#with-us h4 {
    color: var(--planning);
    font-size: 3rem;
    margin-top: 0;
}
#with-us h5 {
    color: var(--default);
    font-size: 2rem;
    padding-top: 3rem;
}
#with-us h6 {
    color: var(--planning);
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
#with-us p {
    margin-bottom: 1rem;
}
#with-us .container {
    width: 90%;
    text-align: left;
}
#with-us a {
    background-color: var(--planning);
    color: var(--default);
    padding: 0.5rem 2rem;
    border-radius: 15px 15px;
}
#with-us .col {
    margin-bottom: 1.5rem;
}
#with-us .card {
    background-color: var(--default);
}

/* about-us */
#about-us {
    width: 100%;
    background-color: var(--default);
}
#about-us .container {
    width: 90%;
    display: flex;
}
#about-us h4 {
    color: var(--planning);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
#about-us p {
    margin-bottom: 2rem;
}
#about-us .content {
    display: flex;
    flex-direction: column;
}
#about-us img {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 1rem;
}
#about-us span {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
#about-us a {
    color: var(--default);
    background-color: var(--planning);
    border-radius: 25px 25px;
    width: 12rem;
    padding: 1rem 0rem;
    margin-bottom: 2rem;
    text-align: center;
}
/* get-started */
#get-started {
    width: 100%;
    background-color: var(--planning);
}
#get-started .container {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#get-started span {
    color: var(--lightgrey);
}
#get-started h4 {
    color: var(--default);
    font-size: 1.5rem;
    padding: 1rem 0;
}
#get-started h2 {
    color: var(--gold);
    font-size: 4rem;
    padding-bottom: 1rem;
}
#get-started p {
    color: var(--default);
    padding-bottom: 1rem;
}
#get-started a {
    width: 15rem;
    display: block;
    background-color: var(--default);
    color: var(--planning);
    padding: 1rem;
    border-radius: 25px 25px;
}
#get-started .copyright {
    padding: 1rem 0 3rem 0;
    color: var(--default);
}

/* footer */
#footer {
    width: 100%;
    padding-bottom: 2rem;
    background-color: var(--footer);
}
#footer .container {
    width: 90%;
    text-align: center;
    color: var(--default);
}
#footer p {
    margin-bottom: 1rem;
}